.home-header {
    text-align: center;
  }
  
  .home-header h2 {
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
  }
  
  .home-header h1{
    font-size: 4rem;
    color:#732982;
    margin-bottom: 1rem;
  }
  
  .home-header h1 span {
    color: #b0c4de;
  }
  
  .home-header p {
    color: #008026;
    font-weight: 500;
  }